@font-face {
  font-family: Roboto;
  src: url(./../fonts/Roboto-Regular.ttf);
}

@font-face {
  font-family: Roboto;
  src: url(./../fonts/Roboto-Bold.ttf) format("truetype"),
    url(./../fonts/Roboto-Bold.woff), url(./../fonts/Roboto-Bold.woff2);
  font-weight: 700;
}

* {
  font-size: 20px;
}

.class {
  font-weight: 700;
  font-style: italic;
}

body {
  margin: 0;
  padding: 0;
}

.rights {
  font: normal 700 40px/2 "Roboto", sans-serif;
}

.main-header {
  width: 100%;
  background-color: #bab3b2;
  padding: 24px 0;
}

.main-section {
  padding: 12px;
  margin: 12px;
}

.main-article {
  padding: 12px;
  margin: 12px;
}

.main-article {
  background-color: bisque;
}

.main-section {
  background-color: pink;
}

.main-nav {
  text-align: right;
  display: inline-block;
  width: calc(100% - 200px);
  vertical-align: middle;
}

.main-header__user-options {
  display: inline-block;
  vertical-align: middle;
}

.main-header__user-options a {
  /* color: #000000; */
  font-weight: bold;
  font-size: 24px;
  text-decoration: none;
  padding-left: 12px;
}

.main-nav__links {
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-nav__link {
  display: inline-block;
  margin: 0 8px;
}

.main-nav__link a {
  text-decoration: none;
  /* color: #ffffff; */
}
.main-section.goals ul,
.small-goals {
  display: inline-block;
}

.main-section.goals > ul {
  background-color: yellow;
}

/* .main-section.goals li {
  color: purple;
} */

.finish-course + li {
  background-color: gray;
}

.finish-course5 ~ li {
  background-color: lightblue;
}

.second-small-list li:first-of-type {
  color: red;
}

.main-article p::first-line {
  background-color: lightcoral;
}

.main-article p::first-letter {
  font-size: 30px;
}

.main-article p::selection {
  background-color: yellow;
  color: green;
}

.second-small-list li::after {
  content: "......";
}

.second-small-list li::before {
  content: "---";
}

.second-small-list li:not(:last-child)::after {
  content: ",";
}

#about p {
  font-size: 22px;
  font-stretch: ultra-condensed;
  white-space: pre;
  text-shadow: 5px 5px 2px rgb(192, 192, 192);
}

.main-section__title {
  line-height: 2;
  text-decoration: overline dotted;
}

.main-nav__link a {
  text-decoration: none;
}

.main-nav__link a:focus,
.main-nav__link a:hover {
  text-decoration: underline white;
}
